--
-- PostgreSQL database dump
--

\restrict tNun7n5s26S1MOjJqsG5OFnhem3nuoevX8FJMsM615yox5pRqzsNYVUeW0uaq8v

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: Stasenko
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying,
    email character varying,
    hashed_password character varying,
    role public.userrole
);


ALTER TABLE public.users OWNER TO "Stasenko";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: Stasenko
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO "Stasenko";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Stasenko
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: Stasenko
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: Stasenko
--

COPY public.users (id, username, email, hashed_password, role) FROM stdin;
1	admin	admin@example.com	$2b$12$6qXIsxnwR3IB1OMA//djW.GIwU2wuAMoXKddDQzAAHnL9jJMsMpBC	ADMIN
2	engineer	engineer@example.com	$2b$12$O/sYREAVzjOhlEO9w5L8Tu964m9g5EzpVecfSpArvXpmYrRHXMtI6	ENGINEER
3	engineer1	engineer1@example.com	$2b$12$Tfg2.R.zQf6y4iR1kq6itONGQOcd4cgP1s5Cm549nXchts0ICLvae	ENGINEER
4	client	client@example.com	$2b$12$aoyxXSfTXooLQOKD4gFqkO4b17DW3CwmBiNtbl.ExbivBWugf6xAW	CLIENT
5	manager	manager@example.com	$2b$12$weS8p4WLL.uvJxK1Ar4ZOuZJaa0xQ54nFReWfxyKDgk9VSd.U.Afi	MANAGER
\.


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Stasenko
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: Stasenko
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: Stasenko
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: Stasenko
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: Stasenko
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- PostgreSQL database dump complete
--

\unrestrict tNun7n5s26S1MOjJqsG5OFnhem3nuoevX8FJMsM615yox5pRqzsNYVUeW0uaq8v

